.fondo-login {
  background-color: #f2f2f2;
}

.titulo-login {
  text-align: center;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #1e3a8a;
  font-weight: bold;
}

.subtitulo-login {
  text-align: center;
  font-size: 24px;
}

.card-login {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
}

.campo-login {
  margin-top: 10px;
}

.boton-login {
  margin-top: 25px;
}

.mensaje-error {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}